<main>

  <section class='wrapper'>

    <div class='content'>
      <h1>GRID</h1>
      <div class='grid'>
        <div class='grid_body'>
          <div class='grid_item'>Lorem ipsum dolor sit amet
            consectetur adipisicing elit. Repellendus,
            consequuntur obcaecati iure voluptate molestias
            perspiciatis velit qui quis ad accusamus.</div>
          <div class='grid_item'>Lorem ipsum dolor sit amet
            consectetur adipisicing elit. Totam tempore
            rerum assumenda fuga quisquam sint nisi!
            Repellendus aliquid deserunt adipisci!</div>
          <div class='grid_item'>Lorem ipsum dolor sit amet
            consectetur adipisicing elit. Illum, beatae!
            Porro debitis molestias doloribus optio nihil
            amet quam veritatis distinctio.</div>
          <div class='grid_item'>Lorem, ipsum dolor sit amet
            consectetur adipisicing elit. Eveniet eligendi
            illum ut animi praesentium? Provident aliquam ut
            repellendus consectetur temporibus.</div>
          <div class='grid_item'>Lorem ipsum dolor sit, amet
            consectetur adipisicing elit. Sit cumque nemo
            obcaecati tenetur labore quod eum vel dolore
            enim tempora!</div>
          <div class='grid_item'>Lorem ipsum dolor sit amet
            consectetur adipisicing elit. Similique
            molestiae, eius labore aliquid est harum illo
            architecto impedit sunt non?</div>
        </div>
      </div>
      <h2>Area names</h2>
      <div class='grid_wrapper'>
        <header class='grid_header'>Header</header>
        <aside class='grid_aside'>Aside</aside>
        <main class='grid_main'>Main</main>
      </div>
    </div>

  </section>

</main>