<main class='p-5'>

  <header></header>

  <section>

    <div>
      <h1 class='h1'>
        hello world!
      </h1>
      <p class='p1'>
        Lorem ipsum dolor sit amet, consectetur adipisicing
        elit. Vero, asperiores!
      </p>
      <hr />
      <p class='p2'>Lorem ipsum dolor sit amet consectetur,
        adipisicing elit. Perferendis, soluta.</p>
    </div>

  </section>

  <footer></footer>

</main>